html,
body,
#root,
.mainContainer {
  height: 100%;
}

#myCanvas {
  height: 100%;
  /* height: calc(100vh - 50px); */
  width: 100%;
}
.colorContainer {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  justify-content: center;
  grid-area: cl;
}
.drawerContainer {
  grid-area: d;
  padding: 20px;
  /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1); */
  background-color: rgb(234, 238, 243);
}
.drawerOption {
  width: 80px;
  display: inline-block;
  margin: 2px;
  height: 80px;
  background: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  cursor: pointer;
}
.canvasContainer {
  grid-area: c;
}
.mainContainer {
  display: grid;
  grid-template-areas: "d c c c" "d c c c" "d cl cl cl";
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
}
